

<style>
  .search-btn{
    background-color: #fe424d;
    color:white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color:white;
  }
  .search-btn i{
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp{
    border-radius: 25px;
    padding: 0.5rem 2rem 0.5rem 3rem;
    font-size: 0.9rem;
    box-shadow:0 5px 20px rgba(0,0,0,0.05);
    color:dimgray;
  }

</style>


<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><i class="fa-brands fa-airbnb fa-beat fa-2xl text-danger"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/listings">Explore</a>
        </div>

        <div class="navbar-nav ms-auto">

           <div class="d-flex" role="search">
              
            <input class="form-control me-2 search-inp" type="text" id="myInput" placeholder="Search destinations">          

              &nbsp;&nbsp;&nbsp;

              <button class="btn search-btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>

            </div>
            
        </div>
                
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/listings/new">Post property</a>
            <% if(!currUser){ %>
           <b> <a class="nav-link" aria-current="page" href="/signup">Signup</a></b>
           <b><a class="nav-link" href="/login">Login</a></b>
            <% } %>

            <% if(currUser){ %>
            <a class="nav-link" href="/logout">Logout</a>
            <% } %>

          </div>

    </div>

  </nav>
    
<script>

     let destination1 = document.getElementById("myInput").value;

     console.log("The destination value is",destination1);

</script>
